<% layout ('../layout/pattern') -%>

<div class="row" style="margin-top: 20px">
<div class="card" style="width: 18rem;">
    <ul class="list-group list-group-flush">
        <li class="list-group-item">Почта: <%=student.email%></li>
        <li class="list-group-item">Имя: <%=student.first_name%></li>
        <li class="list-group-item">Фамилия: <%=student.second_name%></li>
        <li class="list-group-item">Отчество: <%=student.last_name%></li>
    </ul>
</div>
</div>