<% layout ('../layout/pattern') -%>

<div class="container">
    <div class="row">
        <div class="col text-center">
            <h1>Карточка проекта № 1</h1>
        </div>
        <div class="col text-center">
            <a class="nav-link active" href="#">
                <h1>ItRocket</h1></a>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="card text-center">
            <div class="card-header">
                <ul class="nav nav-pills card-header-pills">
                    <li class="nav-item">
                        <a class="nav-link active" href="#">Active</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Link</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" href="#">Disabled</a>
                    </li>
                </ul>
            </div>
            <div class="card-body">
                <div class="card-header">
                    <h5 class="card-title">Описание проекта</h5>
                </div>
                <div class="row">
                    <div class="col">
                        <img class="card-img-top" src="https://million-wallpapers.ru/wallpapers/6/8/437821415960923.jpg" alt="Card image cap">
                    </div>
                    <div class="col text-center">
<!--                        <h5 class="card-title">Card title</h5>-->
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                </div>
                <div class="card-footer text-muted">
                    <a href="#" class="btn btn-primary">Редактировать</a>
                </div>
            </div>
    </div>
</div>